
# PlanAhead Generated physical constraints 

NET "SYSBUS_ADDR[17]" LOC = H17;
NET "SYSBUS_ADDR[16]" LOC = H16;
NET "SYSBUS_ADDR[15]" LOC = H15;
NET "SYSBUS_ADDR[14]" LOC = H14;
NET "SYSBUS_ADDR[13]" LOC = G16;
NET "SYSBUS_ADDR[12]" LOC = G15;
NET "SYSBUS_ADDR[11]" LOC = G14;
NET "SYSBUS_ADDR[10]" LOC = G13;
NET "SYSBUS_ADDR[9]" LOC = F18;
NET "SYSBUS_ADDR[8]" LOC = F17;
NET "SYSBUS_ADDR[7]" LOC = F15;
NET "SYSBUS_ADDR[6]" LOC = F14;
NET "SYSBUS_ADDR[5]" LOC = E16;
NET "SYSBUS_ADDR[4]" LOC = E15;
NET "SYSBUS_ADDR[3]" LOC = D17;
NET "SYSBUS_ADDR[2]" LOC = D16;
NET "SYSBUS_ADDR[1]" LOC = C18;
NET "SYSBUS_ADDR[0]" LOC = C17;
NET "SYSBUS_DQ[15]" LOC = M14;
NET "SYSBUS_DQ[14]" LOC = M13;
NET "SYSBUS_DQ[13]" LOC = L18;
NET "SYSBUS_DQ[12]" LOC = L17;
NET "SYSBUS_DQ[11]" LOC = L16;
NET "SYSBUS_DQ[10]" LOC = L15;
NET "SYSBUS_DQ[9]" LOC = K15;
NET "SYSBUS_DQ[8]" LOC = K14;
NET "SYSBUS_DQ[7]" LOC = K13;
NET "SYSBUS_DQ[6]" LOC = K12;
NET "SYSBUS_DQ[5]" LOC = J17;
NET "SYSBUS_DQ[4]" LOC = J16;
NET "SYSBUS_DQ[3]" LOC = J15;
NET "SYSBUS_DQ[2]" LOC = J14;
NET "SYSBUS_DQ[1]" LOC = J13;
NET "SYSBUS_DQ[0]" LOC = J12;
NET "CLK" LOC = B8;
NET "nRST" LOC = U10;
NET "RAM1_nCE" LOC = M15;
NET "RAM1_nOE" LOC = M16;
NET "RAM1_nWE" LOC = M18;
NET "UART_nRE" LOC = C14;
NET "UART_nWE" LOC = U5;
NET "UART_READY" LOC = A16;
NET "UART_TBRE" LOC = D14;
NET "UART_TSRE" LOC = N9;
