
# PlanAhead Generated physical constraints 
NET "CLK_50M" LOC = B9;
NET "nRST" LOC = U10;

NET "SD_nCS" LOC = A14;
NET "SD_SCLK" LOC = E13;
NET "SD_MOSI" LOC = D13;
NET "SD_MISO" LOC = B13;

# NET "test_1[15]" LOC = A14;
# NET "test_1[14]" LOC = E13;
# NET "test_1[13]" LOC = D13;
# NET "test_1[12]" LOC = B13;
NET "test_1[11]" LOC = A13;
NET "test_1[10]" LOC = F12;
NET "test_1[9]" LOC = E12;
NET "test_1[8]" LOC = A12;
NET "test_1[7]" LOC = F11;
NET "test_1[6]" LOC = E11;
NET "test_1[5]" LOC = D11;
NET "test_1[4]" LOC = C11;
NET "test_1[3]" LOC = B11;
NET "test_1[2]" LOC = A11;
NET "test_1[1]" LOC = E10;
NET "test_1[0]" LOC = D10;

NET "SYSBUS_ADDR[17]" LOC = H17;
NET "SYSBUS_ADDR[16]" LOC = H16;
NET "SYSBUS_ADDR[15]" LOC = H15;
NET "SYSBUS_ADDR[14]" LOC = H14;
NET "SYSBUS_ADDR[13]" LOC = G16;
NET "SYSBUS_ADDR[12]" LOC = G15;
NET "SYSBUS_ADDR[11]" LOC = G14;
NET "SYSBUS_ADDR[10]" LOC = G13;
NET "SYSBUS_ADDR[9]" LOC = F18;
NET "SYSBUS_ADDR[8]" LOC = F17;
NET "SYSBUS_ADDR[7]" LOC = F15;
NET "SYSBUS_ADDR[6]" LOC = F14;
NET "SYSBUS_ADDR[5]" LOC = E16;
NET "SYSBUS_ADDR[4]" LOC = E15;
NET "SYSBUS_ADDR[3]" LOC = D17;
NET "SYSBUS_ADDR[2]" LOC = D16;
NET "SYSBUS_ADDR[1]" LOC = C18;
NET "SYSBUS_ADDR[0]" LOC = C17;
NET "SYSBUS_DQ[15]" LOC = M14;
NET "SYSBUS_DQ[14]" LOC = M13;
NET "SYSBUS_DQ[13]" LOC = L18;
NET "SYSBUS_DQ[12]" LOC = L17;
NET "SYSBUS_DQ[11]" LOC = L16;
NET "SYSBUS_DQ[10]" LOC = L15;
NET "SYSBUS_DQ[9]" LOC = K15;
NET "SYSBUS_DQ[8]" LOC = K14;
NET "SYSBUS_DQ[7]" LOC = K13;
NET "SYSBUS_DQ[6]" LOC = K12;
NET "SYSBUS_DQ[5]" LOC = J17;
NET "SYSBUS_DQ[4]" LOC = J16;
NET "SYSBUS_DQ[3]" LOC = J15;
NET "SYSBUS_DQ[2]" LOC = J14;
NET "SYSBUS_DQ[1]" LOC = J13;
NET "SYSBUS_DQ[0]" LOC = J12;

NET "RAM1_nCE" LOC = M15;
NET "RAM1_nOE" LOC = M16;
NET "RAM1_nWE" LOC = M18;
NET "UART_nRE" LOC = C14;
NET "UART_nWE" LOC = U5;
NET "UART_READY" LOC = A16;
NET "UART_TBRE" LOC = D14;
NET "UART_TSRE" LOC = N9;

NET "RAM2_nCE" LOC = N10;
NET "RAM2_nOE" LOC = R9;
NET "RAM2_nWE" LOC = M9;
NET "EXTBUS_ADDR[17]" LOC = U15;
NET "EXTBUS_ADDR[16]" LOC = U16;
NET "EXTBUS_ADDR[15]" LOC = V9;
NET "EXTBUS_ADDR[14]" LOC = V12;
NET "EXTBUS_ADDR[13]" LOC = V13;
NET "EXTBUS_ADDR[12]" LOC = V15;
NET "EXTBUS_ADDR[11]" LOC = U18;
NET "EXTBUS_ADDR[10]" LOC = T18;
NET "EXTBUS_ADDR[9]" LOC = T17;
NET "EXTBUS_ADDR[8]" LOC = R18;
NET "EXTBUS_ADDR[7]" LOC = R16;
NET "EXTBUS_ADDR[6]" LOC = R15;
NET "EXTBUS_ADDR[5]" LOC = P18;
NET "EXTBUS_ADDR[4]" LOC = P17;
NET "EXTBUS_ADDR[3]" LOC = P16;
NET "EXTBUS_ADDR[2]" LOC = N18;
NET "EXTBUS_ADDR[1]" LOC = N15;
NET "EXTBUS_ADDR[0]" LOC = N14;
NET "EXTBUS_DQ[15]" LOC = N11;
NET "EXTBUS_DQ[14]" LOC = N12;
NET "EXTBUS_DQ[13]" LOC = P10;
NET "EXTBUS_DQ[12]" LOC = P11;
NET "EXTBUS_DQ[11]" LOC = P12;
NET "EXTBUS_DQ[10]" LOC = P13;
NET "EXTBUS_DQ[9]" LOC = R10;
NET "EXTBUS_DQ[8]" LOC = R11;
NET "EXTBUS_DQ[7]" LOC = R12;
NET "EXTBUS_DQ[6]" LOC = R14;
NET "EXTBUS_DQ[5]" LOC = R13;
NET "EXTBUS_DQ[4]" LOC = T12;
NET "EXTBUS_DQ[3]" LOC = T14;
NET "EXTBUS_DQ[2]" LOC = T15;
NET "EXTBUS_DQ[1]" LOC = T16;
NET "EXTBUS_DQ[0]" LOC = U13;

NET "GPIO[15]" LOC = C7;
NET "GPIO[14]" LOC = D7;
NET "GPIO[13]" LOC = E7;
NET "GPIO[12]" LOC = F7;
NET "GPIO[11]" LOC = A8;
NET "GPIO[10]" LOC = E8;
NET "GPIO[9]" LOC = F8;
NET "GPIO[8]" LOC = V6;
NET "GPIO[7]" LOC = C9;
NET "GPIO[6]" LOC = D9;
NET "GPIO[5]" LOC = E9;
NET "GPIO[4]" LOC = F9;
NET "GPIO[3]" LOC = G9;
NET "GPIO[2]" LOC = A10;
NET "GPIO[1]" LOC = B10;
NET "GPIO[0]" LOC = V7;
#Created by Constraints Editor (xc3s1200e-fg320-4) - 2017/11/21
NET "CLK_50M" TNM_NET = CLK_50M;
TIMESPEC TS_CLK_50M = PERIOD "CLK_50M" 20 ns HIGH 50%;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_0" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_1" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_2" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_3" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_4" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_5" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_6" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_7" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_8" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_9" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_10" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_11" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_12" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_13" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_14" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_15" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.alu_result_15_1" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.mem_en" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.mem_write_en" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_0" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_1" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_2" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_3" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_4" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_5" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_6" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_7" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_8" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_9" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_10" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_11" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_12" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_13" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_14" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_MEM.write_mem_data_15" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.sp_write_en" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.t_write_en" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.write_addr_0" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.write_addr_1" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.write_addr_2" TNM = mips_core;
INST "mips_core_inst/ex_mem_reg_inst/MEM_WB.write_en" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.alu_op_0" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.alu_op_1" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.alu_op_2" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.alu_op_3" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_0" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_1" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_2" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_3" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_4" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_5" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_6" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_7" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_8" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_9" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_10" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_11" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_12" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_13" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_14" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_0_15" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_0" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_1" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_2" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_3" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_4" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_5" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_6" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_7" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_8" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_9" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_10" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_11" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_12" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_13" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_14" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_EX.operand_1_15" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_IS_LOAD" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.mem_en" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.mem_write_en" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_0" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_1" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_2" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_3" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_4" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_5" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_6" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_7" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_8" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_9" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_10" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_11" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_12" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_13" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_14" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_MEM.write_mem_data_15" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.sp_write_en" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.t_write_en" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.write_addr_0" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.write_addr_1" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.write_addr_2" TNM = mips_core;
INST "mips_core_inst/id_ex_reg_inst/EX_WB.write_en" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_0" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_1" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_2" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_3" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_4" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_5" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_6" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_7" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_8" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_9" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_10" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_11" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_12" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_13" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_14" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_INS_15" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_0" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_1" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_2" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_3" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_4" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_5" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_6" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_7" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_8" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_9" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_10" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_11" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_12" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_13" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_14" TNM = mips_core;
INST "mips_core_inst/if_id_reg_inst/ID_PC_15" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_0" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_1" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_2" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_3" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_4" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_5" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_6" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_7" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_8" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_9" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_10" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_11" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_12" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_13" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_14" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_data_15" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.sp_write_en" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.t_write_en" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_addr_0" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_addr_1" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_addr_2" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_0" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_1" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_2" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_3" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_4" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_5" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_6" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_7" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_8" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_9" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_10" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_11" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_12" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_13" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_14" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_data_15" TNM = mips_core;
INST "mips_core_inst/mem_wb_reg_inst/WB_WB.write_en" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_0" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_1" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_2" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_3" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_4" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_5" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_6" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_7" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_8" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_9" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_10" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_11" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_12" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_13" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_14" TNM = mips_core;
INST "mips_core_inst/program_counter_inst/pc_reg_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_0_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_1_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_2_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_3_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_4_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_5_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_6_15" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_0" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_1" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_2" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_3" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_4" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_5" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_6" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_7" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_8" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_9" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_10" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_11" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_12" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_13" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_14" TNM = mips_core;
INST "mips_core_inst/reg_file_inst/reg_7_15" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_0" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_1" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_2" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_3" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_4" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_5" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_6" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_7" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_8" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_9" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_10" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_11" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_12" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_13" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_14" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/sp_buff_15" TNM = mips_core;
INST "mips_core_inst/special_reg_inst/t_buff" TNM = mips_core;
#Created by Constraints Editor (xc3s1200e-fg320-4) - 2017/11/21
PIN "clock_manager_inst/DCM_SP_INST.CLK0" TNM = clk0;
#Created by Constraints Editor (xc3s1200e-fg320-4) - 2017/11/21
INST "EXTBUS_DQ<0>" TNM = extbus;
INST "EXTBUS_DQ<1>" TNM = extbus;
INST "EXTBUS_DQ<2>" TNM = extbus;
INST "EXTBUS_DQ<3>" TNM = extbus;
INST "EXTBUS_DQ<4>" TNM = extbus;
INST "EXTBUS_DQ<5>" TNM = extbus;
INST "EXTBUS_DQ<6>" TNM = extbus;
INST "EXTBUS_DQ<7>" TNM = extbus;
INST "EXTBUS_DQ<8>" TNM = extbus;
INST "EXTBUS_DQ<9>" TNM = extbus;
INST "EXTBUS_DQ<10>" TNM = extbus;
INST "EXTBUS_DQ<11>" TNM = extbus;
INST "EXTBUS_DQ<12>" TNM = extbus;
INST "EXTBUS_DQ<13>" TNM = extbus;
INST "EXTBUS_DQ<14>" TNM = extbus;
INST "EXTBUS_DQ<15>" TNM = extbus;
TIMEGRP "extbus" OFFSET = IN 5 ns VALID 20 ns BEFORE "CLK_50M" TIMEGRP "mips_core" RISING;
INST "SYSBUS_DQ<15>" TNM = sysbus;
INST "SYSBUS_DQ<0>" TNM = sysbus;
INST "SYSBUS_DQ<1>" TNM = sysbus;
INST "SYSBUS_DQ<2>" TNM = sysbus;
INST "SYSBUS_DQ<3>" TNM = sysbus;
INST "SYSBUS_DQ<4>" TNM = sysbus;
INST "SYSBUS_DQ<5>" TNM = sysbus;
INST "SYSBUS_DQ<6>" TNM = sysbus;
INST "SYSBUS_DQ<7>" TNM = sysbus;
INST "SYSBUS_DQ<8>" TNM = sysbus;
INST "SYSBUS_DQ<9>" TNM = sysbus;
INST "SYSBUS_DQ<10>" TNM = sysbus;
INST "SYSBUS_DQ<11>" TNM = sysbus;
INST "SYSBUS_DQ<12>" TNM = sysbus;
INST "SYSBUS_DQ<13>" TNM = sysbus;
INST "SYSBUS_DQ<14>" TNM = sysbus;
INST "UART_TSRE" TNM = sysbus;
INST "UART_READY" TNM = sysbus;
INST "UART_TBRE" TNM = sysbus;
TIMEGRP "sysbus" OFFSET = IN 5 ns VALID 20 ns BEFORE "CLK_50M" TIMEGRP "mips_core" RISING;
INST "EXTBUS_DQ<0>" TNM = extbus_out;
INST "EXTBUS_DQ<1>" TNM = extbus_out;
INST "EXTBUS_DQ<2>" TNM = extbus_out;
INST "EXTBUS_DQ<3>" TNM = extbus_out;
INST "EXTBUS_DQ<4>" TNM = extbus_out;
INST "EXTBUS_DQ<5>" TNM = extbus_out;
INST "EXTBUS_DQ<6>" TNM = extbus_out;
INST "EXTBUS_DQ<7>" TNM = extbus_out;
INST "EXTBUS_DQ<8>" TNM = extbus_out;
INST "EXTBUS_DQ<9>" TNM = extbus_out;
INST "EXTBUS_DQ<10>" TNM = extbus_out;
INST "EXTBUS_DQ<11>" TNM = extbus_out;
INST "EXTBUS_DQ<12>" TNM = extbus_out;
INST "EXTBUS_DQ<13>" TNM = extbus_out;
INST "EXTBUS_DQ<14>" TNM = extbus_out;
INST "EXTBUS_DQ<15>" TNM = extbus_out;
INST "EXTBUS_ADDR<0>" TNM = extbus_out;
INST "EXTBUS_ADDR<1>" TNM = extbus_out;
INST "EXTBUS_ADDR<2>" TNM = extbus_out;
INST "EXTBUS_ADDR<3>" TNM = extbus_out;
INST "EXTBUS_ADDR<4>" TNM = extbus_out;
INST "EXTBUS_ADDR<5>" TNM = extbus_out;
INST "EXTBUS_ADDR<6>" TNM = extbus_out;
INST "EXTBUS_ADDR<7>" TNM = extbus_out;
INST "EXTBUS_ADDR<8>" TNM = extbus_out;
INST "EXTBUS_ADDR<9>" TNM = extbus_out;
INST "EXTBUS_ADDR<10>" TNM = extbus_out;
INST "EXTBUS_ADDR<11>" TNM = extbus_out;
INST "EXTBUS_ADDR<12>" TNM = extbus_out;
INST "EXTBUS_ADDR<13>" TNM = extbus_out;
INST "EXTBUS_ADDR<14>" TNM = extbus_out;
INST "EXTBUS_ADDR<15>" TNM = extbus_out;
INST "EXTBUS_ADDR<16>" TNM = extbus_out;
INST "EXTBUS_ADDR<17>" TNM = extbus_out;
INST "RAM2_nWE" TNM = extbus_out;
INST "RAM2_nCE" TNM = extbus_out;
INST "RAM2_nOE" TNM = extbus_out;
TIMEGRP "extbus_out" OFFSET = OUT 5 ns AFTER "CLK_50M" TIMEGRP "mips_core" RISING;
INST "SYSBUS_DQ<0>" TNM = sysbus_out;
INST "SYSBUS_DQ<1>" TNM = sysbus_out;
INST "SYSBUS_DQ<2>" TNM = sysbus_out;
INST "SYSBUS_DQ<3>" TNM = sysbus_out;
INST "SYSBUS_DQ<4>" TNM = sysbus_out;
INST "SYSBUS_DQ<5>" TNM = sysbus_out;
INST "SYSBUS_DQ<6>" TNM = sysbus_out;
INST "SYSBUS_DQ<7>" TNM = sysbus_out;
INST "SYSBUS_DQ<8>" TNM = sysbus_out;
INST "SYSBUS_DQ<9>" TNM = sysbus_out;
INST "SYSBUS_DQ<10>" TNM = sysbus_out;
INST "SYSBUS_DQ<11>" TNM = sysbus_out;
INST "SYSBUS_DQ<12>" TNM = sysbus_out;
INST "SYSBUS_DQ<13>" TNM = sysbus_out;
INST "SYSBUS_DQ<14>" TNM = sysbus_out;
INST "SYSBUS_DQ<15>" TNM = sysbus_out;
INST "RAM1_nCE" TNM = sysbus_out;
INST "RAM1_nOE" TNM = sysbus_out;
INST "RAM1_nWE" TNM = sysbus_out;
INST "SYSBUS_ADDR<0>" TNM = sysbus_out;
INST "SYSBUS_ADDR<1>" TNM = sysbus_out;
INST "SYSBUS_ADDR<2>" TNM = sysbus_out;
INST "SYSBUS_ADDR<3>" TNM = sysbus_out;
INST "SYSBUS_ADDR<4>" TNM = sysbus_out;
INST "SYSBUS_ADDR<5>" TNM = sysbus_out;
INST "SYSBUS_ADDR<6>" TNM = sysbus_out;
INST "SYSBUS_ADDR<7>" TNM = sysbus_out;
INST "SYSBUS_ADDR<8>" TNM = sysbus_out;
INST "SYSBUS_ADDR<9>" TNM = sysbus_out;
INST "SYSBUS_ADDR<10>" TNM = sysbus_out;
INST "SYSBUS_ADDR<11>" TNM = sysbus_out;
INST "SYSBUS_ADDR<12>" TNM = sysbus_out;
INST "SYSBUS_ADDR<13>" TNM = sysbus_out;
INST "SYSBUS_ADDR<14>" TNM = sysbus_out;
INST "SYSBUS_ADDR<15>" TNM = sysbus_out;
INST "SYSBUS_ADDR<16>" TNM = sysbus_out;
INST "SYSBUS_ADDR<17>" TNM = sysbus_out;
INST "UART_nWE" TNM = sysbus_out;
INST "UART_nRE" TNM = sysbus_out;
TIMEGRP "sysbus_out" OFFSET = OUT 5 ns AFTER "CLK_50M" TIMEGRP "mips_core" RISING;
