
# PlanAhead Generated physical constraints 

NET "CLK" LOC = B8;
NET "nRST" LOC = U10;

NET "test_1[15]" LOC = A14;
NET "test_1[14]" LOC = E13;
NET "test_1[13]" LOC = D13;
NET "test_1[12]" LOC = B13;
NET "test_1[11]" LOC = A13;
NET "test_1[10]" LOC = F12;
NET "test_1[9]" LOC = E12;
NET "test_1[8]" LOC = A12;
NET "test_1[7]" LOC = F11;
NET "test_1[6]" LOC = E11;
NET "test_1[5]" LOC = D11;
NET "test_1[4]" LOC = C11;
NET "test_1[3]" LOC = B11;
NET "test_1[2]" LOC = A11;
NET "test_1[1]" LOC = E10;
NET "test_1[0]" LOC = D10;

NET "SYSBUS_ADDR[17]" LOC = H17;
NET "SYSBUS_ADDR[16]" LOC = H16;
NET "SYSBUS_ADDR[15]" LOC = H15;
NET "SYSBUS_ADDR[14]" LOC = H14;
NET "SYSBUS_ADDR[13]" LOC = G16;
NET "SYSBUS_ADDR[12]" LOC = G15;
NET "SYSBUS_ADDR[11]" LOC = G14;
NET "SYSBUS_ADDR[10]" LOC = G13;
NET "SYSBUS_ADDR[9]" LOC = F18;
NET "SYSBUS_ADDR[8]" LOC = F17;
NET "SYSBUS_ADDR[7]" LOC = F15;
NET "SYSBUS_ADDR[6]" LOC = F14;
NET "SYSBUS_ADDR[5]" LOC = E16;
NET "SYSBUS_ADDR[4]" LOC = E15;
NET "SYSBUS_ADDR[3]" LOC = D17;
NET "SYSBUS_ADDR[2]" LOC = D16;
NET "SYSBUS_ADDR[1]" LOC = C18;
NET "SYSBUS_ADDR[0]" LOC = C17;
NET "SYSBUS_DQ[15]" LOC = M14;
NET "SYSBUS_DQ[14]" LOC = M13;
NET "SYSBUS_DQ[13]" LOC = L18;
NET "SYSBUS_DQ[12]" LOC = L17;
NET "SYSBUS_DQ[11]" LOC = L16;
NET "SYSBUS_DQ[10]" LOC = L15;
NET "SYSBUS_DQ[9]" LOC = K15;
NET "SYSBUS_DQ[8]" LOC = K14;
NET "SYSBUS_DQ[7]" LOC = K13;
NET "SYSBUS_DQ[6]" LOC = K12;
NET "SYSBUS_DQ[5]" LOC = J17;
NET "SYSBUS_DQ[4]" LOC = J16;
NET "SYSBUS_DQ[3]" LOC = J15;
NET "SYSBUS_DQ[2]" LOC = J14;
NET "SYSBUS_DQ[1]" LOC = J13;
NET "SYSBUS_DQ[0]" LOC = J12;

NET "RAM1_nCE" LOC = M15;
NET "RAM1_nOE" LOC = M16;
NET "RAM1_nWE" LOC = M18;
NET "UART_nRE" LOC = C14;
NET "UART_nWE" LOC = U5;
NET "UART_READY" LOC = A16;
NET "UART_TBRE" LOC = D14;
NET "UART_TSRE" LOC = N9;

NET "RAM2_nCE" LOC = N10;
NET "RAM2_nOE" LOC = R9;
NET "RAM2_nWE" LOC = M9;
NET "EXTBUS_ADDR[17]" LOC = U15;
NET "EXTBUS_ADDR[16]" LOC = U16;
NET "EXTBUS_ADDR[15]" LOC = V9;
NET "EXTBUS_ADDR[14]" LOC = V12;
NET "EXTBUS_ADDR[13]" LOC = V13;
NET "EXTBUS_ADDR[12]" LOC = V15;
NET "EXTBUS_ADDR[11]" LOC = U18;
NET "EXTBUS_ADDR[10]" LOC = T18;
NET "EXTBUS_ADDR[9]" LOC = T17;
NET "EXTBUS_ADDR[8]" LOC = R18;
NET "EXTBUS_ADDR[7]" LOC = R16;
NET "EXTBUS_ADDR[6]" LOC = R15;
NET "EXTBUS_ADDR[5]" LOC = P18;
NET "EXTBUS_ADDR[4]" LOC = P17;
NET "EXTBUS_ADDR[3]" LOC = P16;
NET "EXTBUS_ADDR[2]" LOC = N18;
NET "EXTBUS_ADDR[1]" LOC = N15;
NET "EXTBUS_ADDR[0]" LOC = N14;
NET "EXTBUS_DQ[15]" LOC = N11;
NET "EXTBUS_DQ[14]" LOC = N12;
NET "EXTBUS_DQ[13]" LOC = P10;
NET "EXTBUS_DQ[12]" LOC = P11;
NET "EXTBUS_DQ[11]" LOC = P12;
NET "EXTBUS_DQ[10]" LOC = P13;
NET "EXTBUS_DQ[9]" LOC = R10;
NET "EXTBUS_DQ[8]" LOC = R11;
NET "EXTBUS_DQ[7]" LOC = R12;
NET "EXTBUS_DQ[6]" LOC = R14;
NET "EXTBUS_DQ[5]" LOC = R13;
NET "EXTBUS_DQ[4]" LOC = T12;
NET "EXTBUS_DQ[3]" LOC = T14;
NET "EXTBUS_DQ[2]" LOC = T15;
NET "EXTBUS_DQ[1]" LOC = T16;
NET "EXTBUS_DQ[0]" LOC = U13;

NET "GPIO[15]" LOC = C7;
NET "GPIO[14]" LOC = D7;
NET "GPIO[13]" LOC = E7;
NET "GPIO[12]" LOC = F7;
NET "GPIO[11]" LOC = A8;
NET "GPIO[10]" LOC = E8;
NET "GPIO[9]" LOC = F8;
NET "GPIO[8]" LOC = V6;
NET "GPIO[7]" LOC = C9;
NET "GPIO[6]" LOC = D9;
NET "GPIO[5]" LOC = E9;
NET "GPIO[4]" LOC = F9;
NET "GPIO[3]" LOC = G9;
NET "GPIO[2]" LOC = A10;
NET "GPIO[1]" LOC = B10;
NET "GPIO[0]" LOC = V7;